/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


/* setting body properties */
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-slate-900 text-white min-h-screen font-inter;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;

